{% extends 'not_navbar.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% block css_block %}
<style>
.sign_up{
    width: 550px;
    border: 1px solid #ccc;
    padding: 50px;
}
.login{
    width: 550px;
    border: 1px solid #ccc;
    padding: 40px;
}
</style>
{% endblock %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row">
        <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>


        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <div class="sign_up" style="border-radius: 20px">
                    <h1>{{ title }}</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <button type="submit" style="width: 100%" class="btn btn-info btn-sm">Login</button>

                    </form>
                </div>

                <div class="login" style="border-radius: 20px">
                    <p>You don't have an Account? <a href="{% url 'accounts:signup' %}">Sign Up</a></p>
                    <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                    <a href="{% provider_login_url 'google' method='oauth2' %}"><button class="btn btn-danger" style="width: 100%">Continue with Google</button></a><br>
                    <a href="{% provider_login_url 'facebook' method='oauth2' %}"><button type="button" class="btn btn-primary" style="width: 100%">Continue with Facebook</button></a>
                </div>

        </div>
    </div>
</div>

{% endblock %}