{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block style %}
    html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    .crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
    }
    .crop img {
        width: 400px;
        height: 300px;
        margin: -85px 0 0 - 110px;
    }
{% endblock %}
{% block title %}
    Profile
{% endblock %}

{% block content %}
    <h1>Profile</h1>
    <br>
    <div class="w3-card w3-round w3-white">
        <div class="w3-container">
            <div class="row">
                <div class="col-sm-4">
                    <center>
                        <br>
                        {% if user.user_profile.profile_pic %}
                            <img src="/media/{{ user.user_profile.profile_pic }}" width="220px" height="220px" class="rounded-circle" />
                        {% else %}
                            <img src="/media/profile_pics/m.jpg" width="220px" height="220px" class="rounded-circle">
                        {% endif %}
                        <br><br>
                        <a class="btn btn-info" href="{% url 'accounts:edit' %}">Edit Profile</a>
                        <br><br>

                    </center>
                </div>
                <div class="col-sm-8">
                    <br>
                    <h3>{{ user.username }}</h3>
                    <h4>{{ user.post.count }} Posts &nbsp;&nbsp; {{ user.follower.count }} Followers &nbsp;&nbsp;
                        {{ user.following.count }} Following &nbsp;&nbsp;</h4>
                    <br>
                    <h4>{{ user.user_profile.full_name }}</h4>
                    <h6>Introduction: {{ user.user_profile.description }}</h6>
                </div>
            </div>
        </div>
    </div>


<br><br>
<body class="w3-theme-l5">
    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">

                <!-- Accordion -->
                <div class="w3-card w3-round">
                    <div class="w3-white">
                        <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
                        <div id="Demo1" class="w3-hide w3-container">
                            <p>Some text..</p>
                        </div>
                        <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
                        <div id="Demo2" class="w3-hide w3-container">
                            <p>Some other text..</p>
                        </div>
                        <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
                        <div id="Demo3" class="w3-hide w3-container">
                            <div class="w3-row-padding">
                            <br>
                                <div class="w3-half">
                                    <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <!-- Interests -->
                <div class="w3-card w3-round w3-white w3-hide-small">
                    <div class="w3-container">
                        <p>Interests</p>
                        <p>
                            <span class="w3-tag w3-small w3-theme-d5">News</span>
                            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
                            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
                            <span class="w3-tag w3-small w3-theme-d2">Games</span>
                            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
                            <span class="w3-tag w3-small w3-theme">Games</span>
                            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
                            <span class="w3-tag w3-small w3-theme-l2">Food</span>
                            <span class="w3-tag w3-small w3-theme-l3">Design</span>
                            <span class="w3-tag w3-small w3-theme-l4">Art</span>
                            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
                        </p>
                    </div>
                </div>
                <br>

            <!-- End Left Column -->
            </div>

        <!-- Middle Column -->
        <div class="w3-col m7">

            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h6 class="w3-opacity">Social Media template</h6>
                            <p data-toggle="modal" data-target="#exampleModal" contenteditable="true" class="w3-border w3-padding">What are you thinking?</p>
                            <button type="button" class="w3-button w3-theme" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-pencil"></i>  Post</button>
                        </div>
                    </div>
                </div>
            </div>
            {% for post in user.post.all %}
                <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    {% if post.author.user_profile.profile_pic %}
                        <img src="/media/{{ post.author.user_profile.profile_pic }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px;height: 60px">
                    {% else %}
                        <img src="/media/profile_pics/m.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px;height: 60px">
                    {% endif %}
                    <span class="w3-right w3-opacity">
                        <div class="w3-container">
                          <div class="w3-dropdown-click">
                            <button onclick="MyDropDown()" class="w3-button w3-white"><img width="20px" height="20px" src="/media/images/3d.png"></button>
                            <div id="Demo" class="w3-dropdown-content w3-bar-block w3-border">
                              <a href="{% url 'posts:update_post' pk=post.pk %}" class="w3-bar-item w3-button">Edit post</a>
                              <a href="{% url 'posts:delete_post' pk=post.pk %}" class="w3-bar-item w3-button">Delete post</a>
                              <a href="#" class="w3-bar-item w3-button">Just of me</a>
                            </div>
                          </div>
                        </div>
                    </span>
                    <span class="w3-right w3-opacity">{{ post.upload_date|date:'d-m-Y' }}</span>
                    <h4>{{ post.author }}</h4><br>
                    <hr class="w3-clear">
                    <p>{{ post.caption }}</p>
                    {% if post.image %}
                    <a href="{% url 'posts:detail_post' pk=post.pk %}">
                        <img src="/media/{{ post.image }}" style="width:100%" class="w3-margin-bottom">
                    </a>
                    {% else %}
                        <video style="width:100%" class="w3-margin-bottom" controls>
                          <source src="/media/{{ post.video }}" type="video/mp4">
                        </video>
                    {% endif %}
                    {% if post.contet %}
                        <p>{{ post.content }}</p>
                    {% else %}
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    {% endif %}
                    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
                    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
                </div>
            {% endfor %}
        <!-- End Middle Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-col m2">
            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <p>Upcoming Events:</p>
                    <img src="/w3images/forest.jpg" alt="Forest" style="width:100%;">
                    <p><strong>Holiday</strong></p>
                    <p>Friday 15:00</p>
                    <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
                </div>
            </div>
            <br>

            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <p>Friend Request</p>
                    <img src="/media/{{ post.image }}" alt="Avatar" style="width:50%"><br>
                    <span>Jane Doe</span>
                    <div class="w3-row w3-opacity">
                        <div class="w3-half">
                            <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
                        </div>
                        <div class="w3-half">
                            <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- End Right Column -->
            </div>
        <!-- End Grid -->
        </div>
    <!-- End Page Container -->
    </div>
        <br>
        <script>
            // Accordion
            function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-theme-d1";
            } else {
                x.className = x.className.replace("w3-show", "");
                x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-theme-d1", "");
                }
            }

            // Used to toggle the menu on smaller screens when clicking on the menu button
            function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
            }

            function MyDropDown() {
              var x = document.getElementById("Demo");
              if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
              } else {
                x.className = x.className.replace(" w3-show", "");
              }
            }

        </script>
    </body>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info btn-sm">Post Photo</button>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


{% endblock %}