{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block style %}
    html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
    .crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
    }
    .crop img {
        width: 400px;
        height: 300px;
        margin: -85px 0 0 - 110px;
    }


    /* profile template */
    .profile-head {
        transform: translateY(5rem)
    }

    .cover {
        background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
        background-size: cover;
        background-repeat: no-repeat
    }

    body {
        background: #654ea3;
        background: linear-gradient(to right, #e96443, #904e95);
        min-height: 100vh;
        overflow-x:hidden;
    }
{% endblock %}
{% block title %}
    Profile
{% endblock %}

{% block content %}
    <h1>Profile</h1>
    <br>
    <div class="w3-container">
        <div class="col-sm-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3">
                            <br>
                            {% if user.user_profile.profile_pic %}
                                <img id="myImg" src="/media/{{ user.user_profile.profile_pic }}" alt="Image User" width="130" height="130" class="rounded mb-2 img-thumbnail"/>
                            {% else %}
                                <img src="/media/profile_pics/m.jpg" alt="Image User" width="130" height="130" class="rounded mb-2 img-thumbnail">
                            {% endif %}

                            <a href="{% url 'accounts:edit' %}" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                        </div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0">
                                {% if user.user_profile.full_name %}
                                    <h3>{{ user.user_profile.full_name }}</h3>
                                {% else %}
                                    <h3>{{ user.username }}</h3>
                                {% endif %}
                            </h4>
                            <p class="small mb-4"><i class="fas fa-map-marker-alt mr-2"></i>New York</p>
                        </div>
                    </div>
                </div>

                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ user.post.count }}</h5>
                            <small class="text-muted"> <i class="fas fa-image mr-1"></i>Posts</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ user.follower.count }}</h5>
                            <small class="text-muted"><i class="fas fa-user mr-1"></i>Followers</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ user.following.count }}</h5>
                            <small class="text-muted"><i class="fas fa-user mr-1"></i>Following</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


<br><br>
<body class="w3-theme-l5">
    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">

                <!-- Accordion -->
                <div class="w3-card w3-round">
                    <div class="w3-white w3-padding">
                        <h6>Giới thiệu: </h6>{{ user.user_profile.description }}<hr>
                        <p>Địa Chỉ: </p>{{ user.user_profile.address }}
                        <p>Birth day: {{ user.user_profile.dob }}</p>
                        <p>Link: </p>{{ user.user_profile.website }}
                        <p>Link Facebook: </p>{{ user.user_profile.facebook }}
                        <p>Là việc tại: </p>{{ user.user_profile.work_at }}
                        <p>Từng học tại: </p>{{ user.user_profile.school }}
                    </div>
                </div>
                <br>
                <div class="w3-card w3-round">
                    <div class="w3-white w3-padding">
                        <h6>Ảnh: </h6>{{ user.user_profile.description }}<hr>
                        <div class="py-4 px-4">
                            <a href="#" class="btn btn-link text-muted">Show all</a>
                            <div class="row">
                                <div class="col-lg-6 mb-2 pr-lg-1">
                                    <img src="https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm">
                                </div>
                                <div class="col-lg-6 mb-2 pl-lg-1">
                                    <img src="https://images.unsplash.com/photo-1493571716545-b559a19edd14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm">
                                </div>
                                <div class="col-lg-6 pr-lg-1 mb-2">
                                    <img src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-fluid rounded shadow-sm">
                                </div>
                                <div class="col-lg-6 pl-lg-1">
                                    <img src="https://images.unsplash.com/photo-1475724017904-b712052c192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="w3-card w3-round">
                    <div class="w3-white w3-padding">
                        <p>Bạn Bè: </p>{{ user.user_profile.friends }}
                    </div>
                </div>
            <!-- End Left Column -->
            </div>

        <!-- Middle Column -->
        <div class="w3-col m7">

            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">
                            <h6 class="w3-opacity">Social Media template</h6>
                            <p data-toggle="modal" data-target="#exampleModal" contenteditable="true" class="w3-border w3-padding">What are you thinking?</p>
                            <button type="button" class="w3-button w3-theme" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-pencil"></i>  Post</button>
                        </div>
                    </div>
                </div>
            </div>
            {% for post in user.post.all %}
                <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    {% if post.author.user_profile.profile_pic %}
                        <img src="/media/{{ post.author.user_profile.profile_pic }}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px;height: 60px">
                    {% else %}
                        <img src="/media/profile_pics/m.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px;height: 60px">
                    {% endif %}
                    <span class="w3-right w3-opacity">
                        <div class="w3-container">
                          <div class="w3-dropdown-click">
                            <button onclick="MyDropDown()" class="w3-button w3-white"><img width="20px" height="20px" src="/media/images/3d.png"></button>
                            <div id="Demo" class="w3-dropdown-content w3-bar-block w3-border">
                              <a href="{% url 'posts:update_post' pk=post.pk %}" class="w3-bar-item w3-button">Edit post</a>
                              <a href="{% url 'posts:delete_post' pk=post.pk %}" class="w3-bar-item w3-button">Delete post</a>
                              <a href="#" class="w3-bar-item w3-button">Just of me</a>
                            </div>
                          </div>
                        </div>
                    </span>
                    <span class="w3-right w3-opacity">{{ post.upload_date|date:'d-m-Y' }}</span>
                    <h4>{{ post.author }}</h4><br>
                    <hr class="w3-clear">
                    <p>{{ post.caption }}</p>
                    {% if post.image %}
                    <a href="{% url 'posts:detail_post' pk=post.pk %}">
                        <img src="/media/{{ post.image }}" style="width:100%" class="w3-margin-bottom">
                    </a>
                    {% else %}
                        <video style="width:100%" class="w3-margin-bottom" controls>
                          <source src="/media/{{ post.video }}" type="video/mp4">
                        </video>
                    {% endif %}
                    {% if post.contet %}
                        <p>{{ post.content }}</p>
                    {% else %}
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    {% endif %}
                    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
                    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
                </div>
            {% endfor %}
        <!-- End Middle Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-col m2">
            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <p>Upcoming Events:</p>
                    <img src="/w3images/forest.jpg" alt="Forest" style="width:100%;">
                    <p><strong>Holiday</strong></p>
                    <p>Friday 15:00</p>
                    <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
                </div>
            </div>
            <br>

            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <p>Friend Request</p>
                    <img src="/media/{{ post.image }}" alt="Avatar" style="width:50%"><br>
                    <span>Jane Doe</span>
                    <div class="w3-row w3-opacity">
                        <div class="w3-half">
                            <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
                        </div>
                        <div class="w3-half">
                            <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- End Right Column -->
            </div>
        <!-- End Grid -->
        </div>
    <!-- End Page Container -->
    </div>
        <br>

        <script>
            // Used to toggle the menu on smaller screens when clicking on the menu button
            function openNav() {
                var x = document.getElementById("navDemo");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
                }

                function MyDropDown() {
                  var x = document.getElementById("Demo");
                  if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                  } else {
                    x.className = x.className.replace(" w3-show", "");
                  }
                }

                // Get the modal
            var modal = document.getElementById("myModal");

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById("myImg");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function(){
              modal.style.display = "block";
              modalImg.src = this.src;
              captionText.innerHTML = this.alt;
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.style.display = "none";
            }
        </script>
    </body>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info btn-sm">Post Photo</button>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}