{% extends 'base.html' %}


{% block title %}

{% endblock %}

{% block content %}
    <h1>Posts of Everyone</h1>
<div class="row">
    <div class="col-sm-8">
        {% for post in posts %}
            <div style="border: 1px solid #ddd">
                <div>
                    {% if post.author.user_profile.profile_pic %}
                        <img src="/media/{{ post.author.user_profile.profile_pic }}" width="75px" height="75px" class="rounded-circle">
                        <a style="text-decoration: none;" href="{% url 'accounts:user' username=post.author %}">{{ post.author }}</a>
                    {% else %}
                        <img src="/media/profile_pics/m.jpg" width="75px" height="75px" class="rounded-circle">
                        <a style="text-decoration: none;" href="{% url 'accounts:user' username=post.author %}">{{ post.author }}</a>
                    {% endif %}
                    <br>
                </div>
                <br>
                <img src="/media/{{ post.image }}" width=" 100%">
                <div style="padding: 20px;">
                    Like: {{ post.count_liked }}
                    <h2>{{ post.caption }}&nbsp;&nbsp;<a href="{% url 'posts:detail_post' pk=post.pk %}"><button class="btn btn-success">Detail</button></a></h2>
                    <i><strong>Upload date:</strong> {{ post.upload_date }}</i>
                    <div class="row">
                        <div class="col-sm-4">
                            {% if post.pk in liked_post_list %}
                                <a class="nav-link" href="{% url 'posts:unliked' pk=post.pk %}" target="_parent"><i class="fa-solid fa-thumbs-down" style="font-size: 36px;"></i>UnLike</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'posts:liked' pk=post.pk %}" target="_parent"><i class="fa-solid fa-thumbs-up" style="font-size: 36px;"></i>Like</a>
                            {% endif %}
                        </div>
                        <div class="col-sm-4">
                            <a class="col-sm-9 nav-link"><i class="fa-solid fa-comments" style="font-size: 36px;
                               text-decoration: none;"></i>Comments</a>
                        </div>
                    </div>


                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}